---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <div id="disqus_container">
            <class="comment"/>
            
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'Yangtian', // 可选。默认为 location.href
  owner: 'Yangtiancoder',  //改你自己的名字
  repo: 'gitment',  //专门储存评论一个GitHub仓库
  oauth: {
    client_id: '68440a02fdab2464bb9f', //改为你自己的，下同
    client_secret: '7b8e0a61fb4702a776d5f0e6d6743d012c7400fe', 
  },
})
gitment.render('container')
</script>

        
        </div>
   </div>
   
    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Book</h2>
        <ul class="artical-list">
        {% for post in site.categories.dump%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Bagatelle</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<script src="/js/post.js" type="text/javascript"></script>
